<div class="container">

<button class="btn btn-primary center" routerLink="/add-store">Add New Store</button>
</div>
  <h1>Categories : </h1>
  <div class="container" >
<div  class="flex">
  <div class="card" *ngFor="let categorie of categories">
    <div  class="card-body" (click)="onClick(categorie.categorieId)" >
      <h5 class="card-title">{{categorie.nameCategorie}}</h5>
    </div>

  </div>
 </div>
</div>
  <div class="container" >
    <h1>stores works!</h1>
    <div class="flex card-group"  >

  <div  *ngFor="let store of subStores" >

    <div class="card">
      <img src={{store.logo}} class="card-img-top" alt="" width="200">
      <div class="card-body">
        <h5 class="card-title">{{store.name}}</h5>
        <p class="card-text">{{store.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"></small>
        <p><button class="btn btn-primary">פרטים נוספים</button></p>
      </div>
    </div>
  </div>
</div>
